
.nav-end{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left:9rem;
  gap: 5px;
}
.icon-name{
  color: white;
  margin-bottom: 1.5px;
}
.list-group-item{
  gap: 5px;
  color:black;
  font-style: italic;
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
}

  
html {
  transition: background-color .3s ease;
}

html[data-theme="light"] {
  background-color: #fff;
}

html[data-theme="dark"] {
  color: #fff;
  background-color: #212121;
}  

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* .navbar{
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  width: 80%;
  cursor: pointer;
  gap: 5px;
}
header{
    display: flex;
    justify-content: center;
}
form.nosubmit 
{ 
    margin-left:5rem;
    border: none;
    padding: 0;
}
.fa-user-md{
    color:#3c4fe0;
    font-size: 35px !important;
}   
input.nosubmit 
{
    outline: none;
    border: 0.1px solid #555;
    border-radius: 8px;
    width: 450px;
    color: black;
    padding: 9px 4px 9px 40px;
    background: rgb(244, 230, 230) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, hsl(233, 100%, 66%) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family:sans-serif;
  justify-content: center;
  line-height: 1em;
  width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  border-radius: 6px;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}
.button-64 {
    font-size: 12px;
    text-align: center;
}
.btn-64 :first-child{
    margin-bottom: 5px;
} 
.btn-64{
    margin-left: auto;
}
.slide-toggle {
    position: relative;
    font-weight: 600;
    display: inline-block;
    border-radius: 3px;
    margin-left: auto;
  }
  .slide-toggle input:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .slide-toggle input:first-of-type:focus ~ label {
    box-shadow: 0 0 0 6px rgba(255, 0, 0, 0.15);
  }
  .slide-toggle input:first-of-type:checked ~ label {
    color: #fff;
    background-color: rgb((138, 127, 207), 118, 177);
  }
  .slide-toggle input:first-of-type:checked ~ label:after {
    transform: translateX(100%);
  }
  .slide-toggle input:first-of-type:disabled ~ label {
    opacity: 0.5;
    pointer-events: none;
  }
  .slide-toggle label:first-of-type {
    display: flex;
    height: 2rem;
    width: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    color: #777;
    background-color: #ddd;
    border-radius: 19px;
    transition: background-color 0.25s ease, box-shadow 0.15s ease, color 0.25s ease;
  }
  .slide-toggle label:first-of-type:hover {
    border-color: #777;
    box-shadow: 0 0 0 6px rgba(225, 0, 0, 0.15);
  }
  .slide-toggle label:first-of-type:after {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 50%;
    border-radius: 15px;
    background-color: #fff;
    transition: transform 0.25s cubic-bezier(0.6, 0.82, 0, 0.76);
  }
  .slide-toggle label:first-of-type:hover {
    box-shadow: 0 0 0 4px rgba(225, 0, 0, 0.15);
  }
  .slide-toggle label:first-of-type div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }


